* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --container-color: #1a1e21;
    --second-color: #fd8f44;
    --text-color: #172317;
    --bg-color: #fff;
}

.about {
    padding: 78px 0px;
    width: 100%;
    background-color: #191919;
}

.about img {
    height: auto;
    width: 440px;
}

.about-text {
    width: 550px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1 {
    color: white;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

span {
    color: var(--second-color);
}

.about-text p {
    color: var(--bg-color);
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 45px;
    letter-spacing: 1px;
}

button {
    background-color: var(--second-color);
    color: var(--bg-color);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.4s;
}

button:hover {
    background: transparent;
    border: 2px solid var(--second-color);
    cursor: pointer;
}

/* Image Carousel Styles */
.image-carousel {
    background-color: #191919;
    padding: 1px;
    text-align: center;
}

.carousel-container {
    position: relative;
    max-width: 1336px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
    width: 100%;
    max-height: 300px;
}

.carousel-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 1rem;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

/* Footer Styles */

.about-footer {
    background-color: var(--container-color);
    color: #fff;
    padding: 10px 0;
    margin-top: 0px;
}

.about-footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-footer-section {
    flex: 1;
    margin: 10px;
    text-align: center;
}

.about-footer-section h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.about-footer-section p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.social-icons {
    font-size: 24px;
}

.icon {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.icon:hover {
    color: #007BFF;

}

.newsletter-form {
    display: flex;
    flex-direction: column;
}

.newsletter-form input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #fff;
    border-radius: 4px;
}

.newsletter-form button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.newsletter-form button:hover {
    background-color: #0056b3;

}

.report {
    background-color: var(--second-color);
    color: var(--bg-color);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.4s;
}

.report:hover {
    background: transparent;
    border: 2px solid var(--second-color);
    cursor: pointer;
}